<h5 class="m_1">Categories</h5>
<select class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>
    <option value="1">Mens</option>
    <option value="2">Sub Category1</option>
    <option value="3">Sub Category2</option>
    <option value="4">Sub Category3</option>
</select>
<select class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>
    <option value="1">Womens</option>
    <option value="2">Sub Category1</option>
    <option value="3">Sub Category2</option>
    <option value="4">Sub Category3</option>
</select>
<ul class="kids">
    <li><a href="{{ path ('enfant') }}">Kids</a></li>
    <li class="last"><a href="#">Glasses Shop</a></li>
</ul>