{% extends ":default/layout:layout.html.twig" %}

{% block body %}



    <div class="register_account">
        <div class="wrap">
            <h4 class="title">Shopping cart is empty</h4>
            <p class="cart">You have no items in your shopping cart.<br>Click<a href="{{ path ('accueil') }}"> here</a> to continue shopping</p>
        </div>
    </div>

{% endblock %}

